/accounts/migrations/
/accounts/__pycache__/

/base/__pycache__/
/base/.env

/db.sqlite3

/random.md

/notes/migrations/
/notes/__pycache__/
/notes/documents/


/students/migrations/
/students/__pycache__/

/institutions/migrations/
/institutions/__pycache__/


/lecturers/migrations/
/lecturers/__pycache__/


/clubs_societies/migrations/
/clubs_societies/__pycache__/